:host {
  display: block;
  margin-top: 1rem;
}

mat-progress-bar {
  margin: auto;
  width: 90%;
  align-self: center;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.revenda-image {
  width: 49%;
  height: 20rem;
  float: left;
}

.revenda-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.revenda-descricao {
  border-style: solid;
  border-color: black;
  width: 49%;
  float: right;
}

.revenda-descricao p {
  margin: 1rem;
}
