<mat-progress-bar mode="indeterminate" *ngIf='isLoading'></mat-progress-bar>
<mat-accordion multi="true" *ngIf="revendas.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let revenda of revendas">
    <mat-expansion-panel-header style="font-weight: bolder">
      {{revenda.title}}
    </mat-expansion-panel-header>
    <div class="revenda-image">
      <img [src]="revenda.imagePath" [alt]="revenda.title">
    </div>
    <div class="revenda-descricao">
      <p>{{revenda.descricao}}</p>
    </div>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', revenda.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(revenda.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]='totalRevendas' [pageSize]='revendasPorPagina' [pageSizeOptions]='paginaSizeOptions'
  (page)='onChangedPage($event)' *ngIf="revendas.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="revendas.length <= 0 && !isLoading">Nao ha Revendas</p>
