<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf='isLoading'></mat-progress-bar>
  <form [formGroup]="form" (submit)="onSaveRevenda()" *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="text" formControlName="nome" placeholder="Nome de Revenda">
      <mat-error *ngIf="form.get('nome').invalid">Por favor, insira um nome</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="marca" placeholder="Marca de Revenda">
      <mat-error *ngIf="form.get('marca').invalid">Por favor, insira um marca</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="modelo" placeholder="Modelo de Revenda">
      <mat-error *ngIf="form.get('modelo').invalid">Por favor, insira um modelo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="1" formControlName="descricao" placeholder="Descricao de Revenda"></textarea>
      <mat-error *ngIf="form.get('descricao').invalid">Por favor, insira uma descricao</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isFuncionario">
      <input matInput type="number" min=0 onkeydown="return event.keyCode !== 69" formControlName="preco"
        placeholder="Preço">
      <mat-error *ngIf="form.get('preco').invalid">Por favor, insira um preco válido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isFuncionario">
      <input matInput type="number" min=0 onkeydown="return event.keyCode !== 69" formControlName="tempo"
        placeholder="Tempo">
      <mat-error *ngIf="form.get('tempo').invalid">Por favor, insira um tempo válido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isFuncionario">
      <mat-label>Aceitar Revenda?</mat-label>
      <select matNativeControl required  formControlName="aceite">
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>
      <mat-error *ngIf="form.get('aceite').invalid">Por favor, insira uma resposta válida</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Escolher Imagem</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.nome">
    </div>
    <button mat-raised-button color="accent" type="submit">Salvar Revenda</button>
  </form>
</mat-card>
