<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf='isLoading'></mat-progress-bar>
  <form [formGroup]="form" (submit)="onSaveTelemovel(addTelForm)" #addTelForm="ngForm" *ngIf='!isLoading'>
    <h2>Adicionar um Telemóvel</h2>
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Modelo">
      <mat-error *ngIf="form.get('title').invalid">Por favor, insira um Modelo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="brand" placeholder="Marca">
      <mat-error *ngIf="form.get('brand').invalid">Por favor, insira um Marca</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3" formControlName="content" placeholder="Descrição"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Por favor, insira uma descrição</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min=0 formControlName="price" placeholder="Preço">
      <mat-error *ngIf="form.get('price').invalid">Por favor, insira um Preço</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" formControlName="date" placeholder="Data">
      <mat-error *ngIf="form.get('date').invalid">Por favor, insira uma data</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Salvar Telemovel</button>
  </form>
</mat-card>
