mat-form-field,
textarea {
  width: 100%;
}

mat-progress-bar {
  margin: auto;
  width: 90%;
  align-self: center;
}

input[type="file"] {
  visibility: hidden;
  margin-bottom: 14px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
