<mat-accordion multi="true" *ngIf="telemoveis.length>0">
  <mat-expansion-panel *ngFor="let post of telemoveis">
    <mat-expansion-panel-header>
        {{telemoveis.description}}
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="telemoveis.length <= 0">Não foramm adicionados telemóveis</p>
