<mat-progress-bar mode="indeterminate" *ngIf='isLoading'></mat-progress-bar>
<mat-accordion multi="true" *ngIf="revendas.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let revenda of revendas">
    <mat-expansion-panel-header style="font-weight: bolder"
      *ngIf="(revenda.aceite && !isFuncionario && getDate(revenda.data) > currentTime) || (isFuncionario)">
      {{revenda.nome}}
    </mat-expansion-panel-header>
    <div class="revenda-image">
      <img [src]="revenda.imagePath" [alt]="revenda.nome">
    </div>
    <div class="revenda-descricao">
      <p><b>Marca:</b> {{revenda.marca}}</p>
      <p><b>Modelo:</b> {{revenda.modelo}}</p>
      <p><b>Descrição:</b> {{revenda.descricao}}</p>
      <p *ngIf="isFuncionario"><b>Id do Revendedor:</b> {{revenda.criador}}</p>
      <p *ngIf="isFuncionario"><b>Id do Revendedor:</b> {{userId}}</p>
      <p><b>Tempo Restante:</b> {{getRestante(revenda.data)}}</p>
      <p><b>Preço atual:</b> {{revenda.preco}}</p>
      <p *ngIf="isFuncionario"><b>Aceite:</b> {{revenda.aceite}}</p>
      <p *ngIf="isFuncionario"><b>comprador atual:</b> {{revenda.comprador}}</p>
    </div>
    <mat-action-row class="linha" *ngIf="userIsAuthenticated">
      <div *ngIf="userId !== revenda.criador && !isFuncionario">
        <input type="number" min=0 onkeydown="return event.keyCode !== 69" (input)="valorIntroduzido($event)">
        <button mat-button [disabled]="valor <= revenda.preco || !valor" color="warn"
          (click)="licitar(revenda)">LICITAR</button>
      </div>
      <div *ngIf="userId === revenda.criador || isFuncionario">
        <a mat-button color="primary" [routerLink]="['/edit', revenda.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(revenda.id)">DELETE</button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]='totalRevendas' [pageSize]='revendasPorPagina' [pageSizeOptions]='paginaSizeOptions'
  (page)='onChangedPage($event)' *ngIf="revendas.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="revendas.length <= 0 && !isLoading">Nao ha Revendas</p>
