<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf='isLoading'></mat-progress-bar>
  <form [formGroup]="form" (submit)="onSaveRevenda()" *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Titulo de Revenda">
      <mat-error *ngIf="form.get('title').invalid">Por favor, insira um titulo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="1" formControlName="descricao" placeholder="Descricao de Revenda"></textarea>
      <mat-error *ngIf="form.get('descricao').invalid">Por favor, insira uma descricao</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Escolher Imagem</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <button mat-raised-button color="accent" type="submit">Salvar Revenda</button>
  </form>
</mat-card>
